body {
  display: grid;
  grid-template-areas:
    ". header"
    "aside main"
    ". footer";
}

header {
  grid-area: header;
  height: 6rem;
}

.show {
  grid-area: aside;
  height: 100Vh;
  width: 1px;
  top: 0;
  bottom: 0;
  flex-flow: column nowrap;
  border: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.show:hover {
  width: 20Vw;
  border: double 2rem #043330;
}

main {
  grid-area: main;
  min-width: 80Vw;
}

footer {
  grid-area: footer;
}

section {
  width: 100%;
  padding: 5rem 15rem;
}

#what_is_it {
  padding: 5rem 15rem;
}

.container__main-posters {
  width: 75%;
  padding: 0 6rem 0 0;
  display: flex;
  bottom: -10rem;
  right: 0;
}

.what_is_it-main {
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 4rem;
}


.poster{
  grid-column: 1 / 2;
  min-height: initial;
}

.colombiana_article {
  width: 100%;
  grid-column: 2 / 3;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0;
}

.colombiana_article p {
  width: 100%;
  order: 0;
  margin: 0 0 4rem 0;
}

.colombiana {
  order: 1;
  width: calc(100% - 4rem);
  height: 100%;
  float: right;
  margin: 0;
}

.colombiana img{
  min-height: none;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 4rem;
}