body {
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  height: auto;
  background-color: var(--color-principal);
  position: relative;
}

main {
  min-width: 100Vw;
  min-height: 100Vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-secundario);
}

header, footer {
  width: 100%;
  height: 10rem;
  padding: var(--space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-principal);
}

header figure {
  height: 100%;
}

.container__main {
  flex-grow: 1;
  min-height: inherit;
  margin-right: calc(var(--space) + 24px);
}

nav {
  display: flex;
  align-items: center;
}

.sidebar{
  display: none;
  min-width: 0Vw;
  min-height: 0Vh;
}

.show {
  display: block;
  min-width: 100Vw;
  min-height: 100Vh;
  background-color: rgb(41, 80, 15);
  padding: var(--space);
  overflow: hidden;
  transform: translateX(100Vw);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  animation-name: movimiento;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes movimiento {
  from {
    transform: translateX(100Vw);
    border-radius: 25% 0 0 25%;
    -webkit-transform: translateX(100Vw);
    -moz-transform: translateX(100Vw);
    -ms-transform: translateX(100Vw);
    -o-transform: translateX(100Vw);
}
  to {
    transform: translateX(0rem);
    border-radius: 0%;
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
}
}



/* Hero */

.container__main {
  width: 100Vw;
  height: 100Vh;
  padding-bottom: 56.25%;
  position: relative;
}

video{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom :0;
  left: 0;
  right: 0;
}

.container__main-hero{
  width: 100Vw;
  height: 100Vh;
  background-color:rgba(250, 250, 250, 0.541);
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom :0;
  left: 0;
  right: 0;
}