body {
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  height: auto;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-width: 100Vw;
  min-height: 100Vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-secundario);
  background-image: url('../src/images/full-bloom.svg');
  background-repeat: repeat;
}

header, footer {
  width: 100%;
  height: 10rem;
  padding: var(--space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-principal);
  position: relative;
}

header figure {
  width: 10rem;
}

#button-menu{
  position: fixed;
  z-index: 1000;
  right: var(--space);
  top: var(--space);
}

.show {
  border: double 2rem #043330;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100Vw;
  height: 100Vh;
  background: radial-gradient(circle, rgba(10,109,102,1) 0%, rgba(4,51,48,1) 100%);
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.show.open{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-90deg);
  -webkit-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-90deg);
  -moz-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-90deg);
  -ms-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-90deg);
  -o-transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-90deg);
}

.show a{
  color: red;
  font-weight: 600;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.show a:hover{
  color:var(--color-cuaternario);
}



section {
  height: 100%;
  width: 100vw;
  padding: 0 var(--space);
  padding-right: calc( 3.2rem + 24px);
}

/* Hero */


.container__main {
  height: auto;
  width: 100%;
  padding: 0rem;
  position: relative;
}

video{
  width: 100%;
  height: auto;
}

.container__main-hero{
  height: 50vh;
  flex-grow: 1;
  background-color:rgba(61, 61, 61, 0.541);
  width: 100%;
  height: auto;
  padding: var(--space);
}

.container__main-hero h1,
.container__main-hero h3 {
  color: white;
}

.container__main-posters {
  display: none;
}

#what_is_it article {
  flex-grow: 1;
}

.Mirabel {
  shape-outside: circle(50%);
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  float: left;
  border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  -ms-border-radius: 80%;
  -o-border-radius: 80%;
}

.colombiana {
  width: 50%;
  height: auto;
  margin: 0 0 1rem 1rem;
  float: right;
}


.youtube{
  height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.youtube iframe {
  height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


.pleople_grid {
  width: calc(100% - 1rem);
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: minmax(auto max-content) repeat(2 minmax(25%, max-content));
  gap: 1rem;
}
.pleople_grid .items img{
  height: 100%;
  object-fit: cover;
}

.pleople_grid .text{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.pleople_grid .image_1{
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.pleople_grid .image_2{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.pleople_grid .image_3{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}



.our_clothes {
  height: auto;
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, minmax(auto, max-content));
  gap: 1rem;
}

.our_clothes .image_1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.our_clothes .image_2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.our_clothes .image_3 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.our_clothes .text {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}



.our_traditions {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, minmax(auto, max-content));
  gap: 1rem;
}

#insparing_places{
  height: auto
}


.slider{
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.figures {
  width: 100%;
  height: 75Vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.slider .text_container{
  height: auto
}

.figure_1, .figure_2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.figure_1 {
  padding-bottom: var(--space);
}

.slider img {
  display: none;
}

.slider p {
  display: none;
}

.slider .no_hide {
  display: block;
  height: 100%;
  object-fit: cover;
}

.slider .text_no_hide {
  text-align: center;
  display: block;
}

#insparing_places ul p {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 800;
}

#insparing_places ul p:hover {
  color: red
}

ul {
  display: flex;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.card {
  height: 100%;
  max-height: max-content;
  background-color: var(--color-terciario);
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
  overflow: hidden;
  margin-bottom: var(--space);
  border-radius: var(--space);
  -webkit-border-radius: var(--space);
  -moz-border-radius: var(--space);
  -ms-border-radius: var(--space);
  -o-border-radius: var(--space);
  transition-duration: 0.5s;
}

.card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}


.content {
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
}


.content img {
  border-radius:none;
  -webkit-border-radius:none;
  -moz-border-radius:none;
  -ms-border-radius:none;
  -o-border-radius:none;
}

.details {
  height: max-content;
  padding: 0 var(--space) 0 var(--space);
}

.datails p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}


footer {
  height: auto;
  width: 100%;
  padding: 0rem;
  flex-flow: column nowrap;
}

footer h1 {
  padding: 0 var(--space);
}

footer .copyright {
  width: 100%;
  margin-top: var(--space);
  background-color: var(--color-terciario);
}

footer .copyright P {
  text-align: center;
  padding: var(--space);
}

footer video {
  border-radius: var(--space);
  -webkit-border-radius: var(--space);
  -moz-border-radius: var(--space);
  -ms-border-radius: var(--space);
  -o-border-radius: var(--space);
}

.links{
  display: flex;
  justify-content: space-evenly;
}

.links a {
  height: auto;
  width: 6rem;
  margin: 0;
}

.open_forEver{
  transform-origin: none;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}